@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

/* #719a0a green */
/* #fbaf32 orange */
*{
    font-family: 'PT Sans', sans-serif;
}
.menu-sec .text a{
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fbaf32;
}
.menu-sec .text span{
    color:#719a0a;
}
.menu-sec .text span:hover{
    color:#fbaf32 ;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #fbaf32;
    font-size: 18px;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(0 0 0 / 84%);
    font-size: 20px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#fbaf32;
}
.Main_bg img{
    height: 550px;
    width: 100%;
    object-fit: cover;
}

.fixed-header {
    position: fixed;
    top: 0px;
    left: 0;
    margin-top: 0em;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 99;
}
.fixed-header .navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.fixed-header .bg-light {
    --bs-bg-opacity: 1;
    background-color: #00000091 !important;
}
.fixed-header .text a {
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fbaf32;
    background: #fff;
    padding: 7px;
    margin-left: 10px;
    border-radius: 15px;
}
.fixed-header .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #fbaf32;
}
